@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;

    &::-webkit-scrollbar {
        display: none;
    }
}

.flow-hide {
    overflow-x: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}